body {
    margin: 0;
    font-family: sans-serif;
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#content-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container img {
    height: 250px;
    border-radius: 20px;
}

.info-container h3 {
    margin: 0;
    color: black;
    padding-bottom: 10px;
}

.info-container p {
    color: black;
    padding-right: 40px;
}

.info-container button {
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
}

.info-container button:hover {
    transition: .5s;
    background-color: #212b43;
    color: white;
    border: none;
    
}

.info-container button:active {
    background-color: #0e121d;
}