/* Eksisterende stilarter */
.porteføljeEmne {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f3f3f3; /* Baggrundsfarve som eksempel */
    border: 1px solid #ddd; /* Tilføjer en grænse */
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px; /* Tilføjer venstre margin */
    margin-right: 20px; /* Tilføjer højre margin */
    border-radius: 5px; /* Afrundede hjørner */
}

.porteføljeBeskrivelse {
    margin-bottom: 10px;
    font-weight: bold; /* Gør teksten fed */
}

.porteføljeBilleder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.porteføljeBilleder img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px; /* Tilføjer margin i bunden */
    border-radius: 5px; /* Afrundede hjørner på billeder */
}

/* Tilføjede stilarter for dropdown-listen */
#ydelserDropdown {
    margin: 20px; /* Juster efter behov */
    padding: 10px;
    background-color: #9c523b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#ydelserDropdown:hover {
    background-color: #45a049;
}

/* Container til portefølje-emner */
#porteføljeContainer {
    margin-left: 20px; /* Justerer venstre margin for at flugte med dropdown */
    margin-right: 20px; /* Justerer højre margin */
    margin-top: 10px; /* Reduceret øverste margin */
}

/* Container for dropdown og knap */
.dropdownAndButtonContainer {
    display: flex;
    align-items: center;
    margin: 10px 20px; /* Reduceret margin til 10px øverst og nederst, 20px til venstre og højre */
}

#ydelserDropdown, #loadMoreButton {
    margin-right: 10px; /* Tilføjer lidt plads mellem elementerne */
}

/* Stil for 'Indlæs flere'-knappen */
#loadMoreButton {
    padding: 10px;
    background-color: #9c523b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#loadMoreButton:hover {
    background-color: #45a049;
}



