/* Eksisterende stilarter */
.porteføljeEmne {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3; /* Baggrundsfarve som eksempel */
    border: 1px solid #ddd; /* Tilføjer en grænse */
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px; /* Tilføjer venstre margin */
    margin-right: 20px; /* Tilføjer højre margin */
    border-radius: 5px; /* Afrundede hjørner */
}

.infoCon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.porteføljeTitel{
    margin-bottom: 10px;
    font-weight: bold; /* Gør teksten fed */
}

.porteføljeBeskrivelse {
    margin-bottom: 10px;
    order: 1;
}


.porteføljeBilleder {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.porteføljeBilleder img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px; /* Tilføjer margin i bunden */
    border-radius: 5px; /* Afrundede hjørner på billeder */
}

/* Tilføjede stilarter for dropdown-listen */
#ydelserDropdown {
    margin: 20px; /* Juster efter behov */
    padding: 10px;
    background-color: #9c523b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#ydelserDropdown:hover {
    background-color: #45a049;
}

/* Container til portefølje-emner */
#porteføljeContainer {
    margin-left: 20px; /* Justerer venstre margin for at flugte med dropdown */
    margin-right: 20px; /* Justerer højre margin */
    margin-top: 10px; /* Reduceret øverste margin */
}

/* Container for dropdown og knap */
.dropdownAndButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px; /* Reduceret margin til 10px øverst og nederst, 20px til venstre og højre */
    display: block;
}

#ydelserDropdown, #loadMoreButton {
    margin-right: 10px; /* Tilføjer lidt plads mellem elementerne */
}

/* Stil for 'Indlæs flere'-knappen */
#loadMoreButton {
    margin: 20px auto;
    padding: 10px;
    background-color: #9c523b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
}

#loadMoreButton:hover {
    background-color: #45a049;
}

.image-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 80%;
    z-index: 10;

}
.image-popup img{
    max-width: 100%;
    border: 1px solid;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
#overlay.active{
    pointer-events: all;
}


