.operation_box
{
    width: 60%;
    max-width: 60%;
    margin: 20px;
    padding: 40px 10px;
    background-color: #f3f3f3; /* Baggrundsfarve som eksempel */
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;

}

.operation_title_box
{
    padding-left: 30px;
    width: 30%;
    justify-content: center;

}

.operation_description_box
{
    width: 60%;
    justify-content: flex-start;
}

.operation_title
{
    font-weight: bold;
}

#operations_container
{
    margin: 40px 30px;
}

.operation_contact_btn_box
{
    width: 10%;
}

.operation_contact_btn
{
    height: 40px;
    width: 80px;
    color: #ffffff;
    background-color: #9c523b;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
}

.operation_contact_btn:hover
{
    background-color: #45a049;
}

